@charset "UTF-8";
#container.main { min-height: auto !important; }

#footer { position: relative; z-index: 999; }

.plastic_main .sec01 { position: relative; z-index: 10; overflow: hidden; background: url(../../images/plastic/main_bg.png) no-repeat center center; background-size: cover; height: 750px; }

.plastic_main .sec01 .inner { height: 100%; position: relative; text-align: center; }

.plastic_main .sec01 .main_title { padding-top: 100px; position: relative; z-index: 999; }

.plastic_main .sec01 .img_ani { position: absolute; z-index: -1; }

.plastic_main .sec01 .img_ani.img_trash1 { left: 0; top: -5%; width: 25%; }

.plastic_main .sec01 .img_ani.img_trash2 { right: 5%; bottom: 5%; width: 34%; }

.plastic_main .sec01 .img_ani.img_turtle { left: 0; bottom: 3%; width: 34%; }

.plastic_main .sec02 { position: relative; padding: 80px 0 100px; background-color: #d5efff; z-index: 11; /* 20.09.22 - 롯데케미칼 메뉴 추가 버전 */ /*body.plastic.wasteSorting*/ }

.plastic_main .sec02 .inner { position: relative; }

.plastic_main .sec02 .sec02_tit { text-align: center; margin-bottom: 80px; }

.plastic_main .sec02 .sec02_tit img { width: 100%; max-width: 700px; }

.plastic_main .sec02 .btn_article_open { width: 140px; position: absolute; top: 40px; right: 40px; z-index: 999; }

.plastic_main .sec02 .link_area { font-size: 0; margin: 0 -15px; margin-top: -30px; position: relative; z-index: 10; }

.plastic_main .sec02 .link_area li { display: inline-block; vertical-align: top; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 15px; margin-top: 30px; }

.plastic_main .sec02 .link_area a { display: block; position: relative; -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0); box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0); border-radius: 28px; -webkit-transition: -webkit-box-shadow .2s ease-out; transition: -webkit-box-shadow .2s ease-out; transition: box-shadow .2s ease-out; transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out; }

.plastic_main .sec02 .link_area a:hover { -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }

.plastic_main .sec02 .link_area img { width: 100%; }

.plastic_main .sec02 .trash_wrap img { position: absolute; z-index: -1; -webkit-animation: trash_updown 2s linear infinite; animation: trash_updown 2s linear infinite; }

.plastic_main .sec02 .trash_wrap img.sec02_trash1 { left: -17%; top: -18%; width: 33%; -webkit-animation-delay: .2s; animation-delay: .2s; }

.plastic_main .sec02 .trash_wrap img.sec02_trash2 { right: -13%; top: 13%; width: 16%; }

.plastic_main .sec02 .trash_wrap img.sec02_trash3 { left: -8%; bottom: 25%; width: 28.5%; -webkit-animation-delay: .6s; animation-delay: .6s; }

.plastic_main .sec02 .trash_wrap img.sec02_trash4 { right: -31%; bottom: 6%; width: 27.5%; -webkit-animation-delay: 1s; animation-delay: 1s; }

.plastic_main .sec02 .trash_wrap img.sec02_trash5 { left: -35%; bottom: -13%; width: 37.8%; -webkit-animation-delay: .1s; animation-delay: .1s; }

.plastic_main .sec02 .logo_lc { display: block; width: 93px; }

.plastic_main .sec02 .link_area .link_wasteSorting2 .logo_lc { position: absolute; top: -17px; left: -14px; }

.plastic_main .sec02 .menu_list .item { float: left; width: 290px; }

.plastic_main .sec02 .menu_list .m4 .link { background: #0a2da6 url(//img.dongascience.com/kids2016/images/plastic/menu4.png) 50% no-repeat; position: relative; }

.plastic_main .sec02 .menu_list .m4 .link.active { background: #fff url(//img.dongascience.com/kids2016/images/plastic/menu4_on.png) 50% no-repeat; }

.plastic_main .sec02 .menu_list .m4 .link .logo_lc { position: absolute; top: -40px; right: -30px; display: none; }

.plastic_main .sec02 .earth .tit_submain .icon { width: 32px; height: 32px; background: url(//img.dongascience.com/kids2016/images/plastic/ico_recycle.png) 0 0 no-repeat; margin-top: 3px; }

.plastic_main .sec02 .earth .tit_submain .tit { padding-left: 12px; }

.plastic_main .sec02 .earth .tit_submain .logo_with { font-size: 0; display: inline-block; width: 160px; height: 37px; background: url(//img.dongascience.com/kids2016/images/plastic/logo_with.png) 0 0 no-repeat; margin-left: 20px; }

.plastic_main .sec02 .subdesc { margin-bottom: 9px; }

.plastic_main .sec02 .subdesc.warning { margin-bottom: 40px; }

.img_down { position: absolute; width: 100px; height: 100px; }

/*.trash1 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_01.png) no-repeat; background-size: contain; animation-duration: 10s !important; top: -100px; left: -10%;}
.trash2 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_02.png) no-repeat; background-size: contain; animation-duration: 15s !important; top: -150px; left: -40%;}
.trash3 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_03.png) no-repeat; background-size: contain; animation-duration: 8s !important; top: -100px; left: 50%; }
.trash4 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_04.png) no-repeat; background-size: contain; animation-duration: 12s !important; top: -150px; left: 80%; }*/
.trash5 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_05.png) no-repeat; background-size: contain; -webkit-animation-duration: 16s !important; animation-duration: 16s !important; top: -200px; left: 90%; -webkit-animation-delay: 4s; animation-delay: 4s; }

.trash6 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_06.png) no-repeat; background-size: contain; -webkit-animation-duration: 15s !important; animation-duration: 15s !important; top: -150px; left: 60%; -webkit-animation-delay: 6s; animation-delay: 6s; display: none; }

.trash1 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_01.png) no-repeat; background-size: contain; -webkit-animation-duration: 10s !important; animation-duration: 10s !important; top: -100px; left: -10%; }

.trash2 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_02.png) no-repeat; background-size: contain; -webkit-animation-duration: 15s !important; animation-duration: 15s !important; top: -200px; left: -30%; }

.trash3 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_03.png) no-repeat; background-size: contain; -webkit-animation-duration: 8s !important; animation-duration: 8s !important; top: -100px; left: 50%; }

.trash4 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_04.png) no-repeat; background-size: contain; -webkit-animation-duration: 12s !important; animation-duration: 12s !important; top: -100px; left: 90%; }

/*
.trash7 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_07.png) no-repeat; background-size: contain; animation-duration: 12s !important; top: -100px; left: 90%; animation-delay: 2s; }
.trash8 { background: url(//img.dongascience.com/kids2016/mobile/images/plastic/trash_08.png) no-repeat; background-size: contain; animation-duration: 12s !important; top: -100px; left: 90%; animation-delay: 2s; }
*/
@-webkit-keyframes img_down { 0% { top: -100px;
    -webkit-transform: scale(0.5) rotate(0deg);
    transform: scale(0.5) rotate(0deg);
    opacity: 0.15; }
  100% { top: 750px;
    left: 50%;
    -webkit-transform: scale(0.8) rotate(90deg);
    transform: scale(0.8) rotate(90deg);
    opacity: 0.4; } }
@keyframes img_down { 0% { top: -100px;
    -webkit-transform: scale(0.5) rotate(0deg);
    transform: scale(0.5) rotate(0deg);
    opacity: 0.15; }
  100% { top: 750px;
    left: 50%;
    -webkit-transform: scale(0.8) rotate(90deg);
    transform: scale(0.8) rotate(90deg);
    opacity: 0.4; } }

.plastic_main .img_down { -webkit-animation-name: img_down; animation-name: img_down; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes turtle { 25% { -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px); }
  75% { -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); } }

@keyframes turtle { 25% { -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px); }
  75% { -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); } }

.plastic_main .img_turtle { -webkit-animation-name: turtle; animation-name: turtle; -webkit-animation-delay: 1s; animation-delay: 1s; -webkit-animation-duration: 8s; animation-duration: 8s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes trash1 { 25% { -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px); }
  75% { -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px); } }

@keyframes trash1 { 25% { -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px); }
  75% { -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px); } }

.plastic_main .img_trash1 { -webkit-animation-name: trash1; animation-name: trash1; -webkit-animation-duration: 8s; animation-duration: 8s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes trash2 { 25% { -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px); }
  75% { -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); } }

@keyframes trash2 { 25% { -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px); }
  75% { -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); } }

.plastic_main .img_trash2 { -webkit-animation-name: trash2; animation-name: trash2; -webkit-animation-duration: 7s; animation-duration: 7s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.plastic_main .img_trash3 { position: absolute; top: 300px; left: 1500px; display: block; width: 180px; height: 156px; background: url(//img.dongascience.com/kids2016/images/plastic/img_trash1.png) no-repeat; opacity: 0; background-size: 100%; z-index: 10; background-size: 60%; }

.plastic_main .img_trash4 { display: none; position: absolute; top: -150px; left: 750px; display: block; width: 200px; height: 546px; background: url(//img.dongascience.com/kids2016/images/plastic/img_trash3.png) no-repeat; opacity: 0; background-size: 100%; z-index: 10; -webkit-transform: scale(0.1, 0.1) rotateZ(-10deg); transform: scale(0.1, 0.1) rotateZ(-10deg); background-size: 60%; }

@-webkit-keyframes trash3 { 0% { top: 200px;
    left: 1500px;
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); }
  80% { top: 500px;
    left: -600px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: .4; }
  81% { opacity: 0;
    left: -601px; }
  82% { opacity: 0; } }

@keyframes trash3 { 0% { top: 200px;
    left: 1500px;
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); }
  80% { top: 500px;
    left: -600px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: .4; }
  81% { opacity: 0;
    left: -601px; }
  82% { opacity: 0; } }

.plastic_main .img_trash3 { -webkit-animation-name: trash3; animation-name: trash3; -webkit-animation-duration: 20s; animation-duration: 20s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes trash4 { 60% { top: -250px;
    left: 10%;
    -webkit-transform: scale(0.1, 0.1) rotateZ(50deg);
    transform: scale(0.1, 0.1) rotateZ(50deg);
    opacity: 0; }
  98% { top: -210px;
    left: 42%;
    -webkit-transform: scale(2, 2) rotateZ(220deg);
    transform: scale(2, 2) rotateZ(220deg);
    opacity: .15;
    z-index: 998; }
  to { top: -210px;
    left: 46%;
    -webkit-transform: scale(2.2, 2.2) rotateZ(221deg);
    transform: scale(2.2, 2.2) rotateZ(221deg);
    opacity: .05; } }

@keyframes trash4 { 60% { top: -250px;
    left: 10%;
    -webkit-transform: scale(0.1, 0.1) rotateZ(50deg);
    transform: scale(0.1, 0.1) rotateZ(50deg);
    opacity: 0; }
  98% { top: -210px;
    left: 42%;
    -webkit-transform: scale(2, 2) rotateZ(220deg);
    transform: scale(2, 2) rotateZ(220deg);
    opacity: .15;
    z-index: 998; }
  to { top: -210px;
    left: 46%;
    -webkit-transform: scale(2.2, 2.2) rotateZ(221deg);
    transform: scale(2.2, 2.2) rotateZ(221deg);
    opacity: .05; } }

.plastic_main .img_trash4 { -webkit-animation-name: trash4; animation-name: trash4; -webkit-animation-duration: 15s; animation-duration: 15s; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes trash_updown { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  25% { -webkit-transform: translateY(10px); transform: translateY(10px); }
  50% { -webkit-transform: translateY(0); transform: translateY(0); }
  75% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

@keyframes trash_updown { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  25% { -webkit-transform: translateY(10px); transform: translateY(10px); }
  50% { -webkit-transform: translateY(0); transform: translateY(0); }
  75% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

/* 마우스 */
.mouse { background: #28458d -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #ffffff), to(#ffffff)); background: #28458d linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%); position: absolute; z-index: 999; width: 32px; height: 54px; border-radius: 100px; background-size: 100% 200%; -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite; animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite; left: 50%; bottom: 100px; margin-left: -16px; }

.mouse:before, .mouse:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

.mouse:before { width: 26px; height: 48px; background-color: #092772; border-radius: 100px; }

.mouse:after { background-color: #ffffff; width: 6px; height: 6px; border-radius: 100%; -webkit-animation: trackBallSlide 5s linear infinite; animation: trackBallSlide 5s linear infinite; }

@-webkit-keyframes colorSlide { 0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: #28458d; }
  29.99% { background-color: #ffffff;
    background-position: 0% 0%; }
  30% { background-color: #28458d;
    background-position: 0% 100%; }
  50% { background-position: 0% 0%; }
  51% { background-color: #28458d; }
  59% { background-color: #ffffff;
    background-position: 0% 0%; }
  60% { background-color: #28458d;
    background-position: 0% 100%; }
  80% { background-position: 0% 0%; }
  81% { background-color: #28458d; }
  90%, 100% { background-color: #ffffff; } }

@keyframes colorSlide { 0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: #28458d; }
  29.99% { background-color: #ffffff;
    background-position: 0% 0%; }
  30% { background-color: #28458d;
    background-position: 0% 100%; }
  50% { background-position: 0% 0%; }
  51% { background-color: #28458d; }
  59% { background-color: #ffffff;
    background-position: 0% 0%; }
  60% { background-color: #28458d;
    background-position: 0% 100%; }
  80% { background-position: 0% 0%; }
  81% { background-color: #28458d; }
  90%, 100% { background-color: #ffffff; } }

@-webkit-keyframes trackBallSlide { 0% { opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px); }
  6% { opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px); }
  14% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px); }
  15%, 19% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
    transform: scale(0.4) translateY(-20px); }
  28%, 29.99% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  30% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  36% { opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px); }
  44% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px); }
  45%, 49% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
    transform: scale(0.4) translateY(-20px); }
  58%, 59.99% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  60% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  66% { opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px); }
  74% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px); }
  75%, 79% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
    transform: scale(0.4) translateY(-20px); }
  88%, 100% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); } }

@keyframes trackBallSlide { 0% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  6% { opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px); }
  14% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px); }
  15%, 19% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
    transform: scale(0.4) translateY(-20px); }
  28%, 29.99% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  30% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  36% { opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px); }
  44% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px); }
  45%, 49% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
    transform: scale(0.4) translateY(-20px); }
  58%, 59.99% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  60% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); }
  66% { opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px); }
  74% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px); }
  75%, 79% { opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
    transform: scale(0.4) translateY(-20px); }
  88%, 100% { opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
    transform: scale(1) translateY(-20px); } }

@-webkit-keyframes nudgeMouse { 0% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% { -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% { -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% { -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeMouse { 0% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% { -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% { -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% { -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes nudgeText { 0% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% { -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% { -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% { -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeText { 0% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% { -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% { -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% { -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes colorText { 21% { color: #28458d; }
  30% { color: #ffffff; }
  51% { color: #28458d; }
  60% { color: #ffffff; }
  81% { color: #28458d; }
  90% { color: #ffffff; } }

@keyframes colorText { 21% { color: #28458d; }
  30% { color: #ffffff; }
  51% { color: #28458d; }
  60% { color: #ffffff; }
  81% { color: #28458d; }
  90% { color: #ffffff; } }

.article_wrap { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.8); z-index: 9999999; }

.article_inner { position: absolute; top: 30px; bottom: 30px; left: 50%; width: 90%; max-width: 740px; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: #fff; padding: 30px 0; border-radius: 20px; overflow-y: auto; }

.article_inner h3 { font-size: 27px; line-height: 27px; margin-bottom: 20px; color: #222; padding-left: 40px; letter-spacing: -2px; }

.article_inner .btn_article_close { position: absolute; top: 26px; right: 30px; padding: 8px 16px; background: #999; color: #fff; }

.article_inner .article_list li { border-top: 1px solid #ddd; }

.article_inner .article_list li:hover { background: rgba(0, 0, 0, 0.1); }

.article_inner .article_list li a { position: relative; display: block; padding: 15px 40px 15px 90px; }

.article_inner .article_list li a::before { position: absolute; top: 50%; left: 40px; width: 28px; height: 40px; margin-top: -20px; content: ''; background: url(//img.dongascience.com/kids2016/images/plastic/icon_article.png) 50% no-repeat; background-size: 100%; }

.article_inner .article_list li .years { display: block; margin-bottom: 4px; color: #999; font-weight: bold; font-size: 16px; }

.article_inner .article_list li .subject { color: #222; font-size: 18px; line-height: 1.4; font-weight: bold; }

.joobgginh_warning { margin-bottom: 40px; }

@media (max-width: 1024px) { .plastic_main .sec02 { position: relative; }
  .plastic_main .sec02 .inner { position: static; }
  .plastic_main .sec02 .btn_article_open { width: 100px; right: 30px; top: -20px; }
  .plastic_main .sec02 .trash_wrap img { position: absolute; z-index: -1; }
  .plastic_main .sec02 .trash_wrap img.sec02_trash1 { left: -15%; top: -10vw; width: 33%; }
  .plastic_main .sec02 .trash_wrap img.sec02_trash2 { right: -8%; top: 16vw; width: 16%; }
  .plastic_main .sec02 .trash_wrap img.sec02_trash3 { left: -8%; bottom: 27%; width: 28.5%; }
  .plastic_main .sec02 .trash_wrap img.sec02_trash4 { right: -10vw; bottom: 6%; width: 27.5%; }
  .plastic_main .sec02 .trash_wrap img.sec02_trash5 { left: -14vw; bottom: -4vw; width: 37.8%; } }

@media (max-width: 767px) { .plastic_main .sec01 { height: 100vw; }
  .plastic_main .sec01 .main_title { padding-top: 8vw; }
  .plastic_main .sec01 .mouse { width: 24px; height: 42px; bottom: 30px; margin-left: -12px; }
  .plastic_main .sec01 .mouse::before { width: 20px; height: 38px; }
  .plastic_main .sec02 { padding: 20px 0 60px; }
  .plastic_main .sec02 .sec02_tit { margin-bottom: 20px; }
  .plastic_main .sec02 .btn_article_open { width: 80px; right: 20px; top: -20px; }
  .plastic_main .sec02 .link_area { margin: 0; margin-top: 0; }
  .plastic_main .sec02 .link_area li { display: block; width: 100%; margin-top: 0; padding: 0; }
  .plastic_main .sec02 .link_area li + li { margin-top: 20px; }
  .plastic_main .sec02 .link_area .link_wasteSorting2 .logo_lc { width: 52px; left: -8px; top: -8px; }
  .article_inner { top: 20px; bottom: 20px; padding: 20px 0; }
  .article_inner h3 { font-size: 20px; line-height: 20px; margin-bottom: 15px; color: #222; padding-left: 20px; letter-spacing: -2px; }
  .article_inner .btn_article_close { top: 16px; right: 20px; padding: 4px 8px; font-size: 13px; border: none; }
  .article_inner .article_list li a { padding: 10px 20px 10px 54px; }
  .article_inner .article_list li a::before { left: 20px; width: 22px; height: 32px; margin-top: 0; top: 12px; background-size: 100%; }
  .article_inner .article_list li .years { margin-bottom: 4px; color: #999; font-weight: 700; font-size: 13px; }
  .article_inner .article_list li .subject { color: #222; font-size: 15px; } }
